body {
    margin: 10px auto;
    box-sizing: border-box;
    max-width: 75%;
    font-family: Arial, Helvetica, sans-serif;
}
/*Header banner*/
header {
    background-image: url("../images/pattern.jpeg");
    position: fixed;
    z-index: 10;
    width:75%;
    top:0;
    left:12.5%;
}
header h1 {
    font-size: 100px;
    color:khaki;
    text-align: center;
    padding: 0.2em;
}

main {
    margin-top: 200px;
    /*to enable scroll*/
    margin-bottom: 800px;
}

section {
    margin: 10px auto;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color:white;
    margin: 1em auto;
    padding: 0.1em 0;
    position:sticky;
    top:140px;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    margin:1em auto;
}

p {
    font-size: 20px;
}

span.price {
    font-weight: bold;
    color: blue;
}

#brushes {
    background-color: mediumspringgreen;
}
#frames {
    background-color: lightcoral;
}
#paint {
    background-color: skyblue;
}

